@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
  }

  html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

  #logo{
    width: 40%;
  }

  nav{
    height: 80px;
    width: 100%;
    background-color: #ffffff00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index: 1;
  }

  nav ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
  }

  nav ul li{
    width: 190px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 1s;
  }

  nav ul li a:hover{
    color: rgb(255, 255, 255);
    font-size: 30px;
  }

  #contactnav{
    color:#1d5aa0;
  }
  
  #contactnav:hover{
    color: #1d5aa0;

  }

  #menucontact{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgb(122, 122, 122);
  }

  .slide{
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-snap-align: center;
  }

  #accueil{

    background: linear-gradient(#1751bd, lightblue);
    
    background-color: #d898ee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gauche{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .droite{
    width: 50%;
    height: 100%;
  }

  .rond{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 200px;
  }

  .rectangle{
    width: 700px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
  }

  .groupebouton{
    display: flex;
    width: 700px;
    justify-content: space-around;
  }

  

  .boutoncv{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgb(122, 122, 122);
    transition: all 1s;
    margin-top: 60px;
  }

  .boutoncv:hover{
    background-color: rgb(199, 223, 255);
    box-shadow: 0px 2px 5px 0px rgb(255, 255, 255);
  }

  #travaux{
    background: linear-gradient( lightblue, violet);
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Londrina Shadow", sans-serif;

  }

  #travaux h1{
    font-size: 60px;
    color: white;
    margin-bottom: 100px;
  }

.groupetravaux{
    display: flex;
}

.boutontravaux{
    width: 350px;
    height: 70px;
    background-color: white;
    border-radius: 50px;
    margin: 60px;
    box-shadow: 0px 2px 5px 0px rgb(122, 122, 122);
    color: #4a9eff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;   
    color:#c940e8 ;
    text-decoration: none;
}

#contact{
  background: linear-gradient(violet, pink);
  background-color: #cce0ff ;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Londrina Shadow", sans-serif;
}

#contact h1{
  font-size: 60px;
  color: white;
}

.groupecontact{
  width: 800px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.502);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  margin-top: 90px;
}

.groupecontact input{
  color:#c940e8 ;
  width: 300px;
  height: 20px;
  border-radius: 20px;
  padding: 20px;
  font-family: "Londrina Shadow", sans-serif;
  font-size: 24px;
  background-color: white;
  border: none;
}

.boutoncontact{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    transition: all 1s;
    margin-top: 60px;
  }

  .boutoncontact:hover{
    background-color: rgb(199, 223, 255);
    box-shadow: 0px 2px 5px 0px rgb(255, 255, 255);
  }

.mail input{
  width: 650px;
}

/* .groupesujet{
  color: #4a9eff;
  font-size: 24px;
} */

/* #sujet{
  width: 690px;
  padding: 20px;
  color: #4a9eff;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  font-family: "Londrina Shadow", sans-serif;
  font-size: 24px;
} */

.message textarea{
  width: 650px;
  height: 150px;
  border-radius: 20px;
  padding: 20px;
  color:#c940e8 ;
  font-family: "Londrina Shadow", sans-serif;
  font-size: 24px;
  background-color: white;
  border: none;
}

.groupenom{
  justify-content: space-evenly;
}

.groupenom input{
  width: 305px;
}


#message::placeholder{
  color:#c940e8 ;
}

#mail::placeholder{
  color: #c940e8 ;
}

#nom::placeholder{
  color: #c940e8 ;
}

#prenom::placeholder{
  color: #c940e8 ;
}

.envoyer{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  cursor: pointer;
  line-height:5px;
}

.boutonenvoyer{
  align-self: center;
}

.envoyer::placeholder{
margin-top:-20px;
}

.succes{
  color: rgb(20, 119, 5);
}

.danger{
  color: rgb(190, 0, 0);
}

.allwork{
  background-color: #1751bd;
  min-height: 100vh;
  width: 100%;
}



